body {
  background: #0a0a0a;
  color: white;
  font-family: Arial;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
}

.hidden { display: none; }

#stepBox {
  border: 1px solid #555;
  padding: 15px;
  margin: 10px;
}

.radioactive {
  background: darkred;
  padding: 20px;
  animation: pulse 0.6s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
}